
<div class='navbar navbar-inverse'>
  <div class='container'>
    <a href='#' id='logoTitle' class='navbar-brand'>
      <span style='color:#000; font-size: 30px'>*logo* &nbsp;</span>
      <span style='color:red; font-weight: 700; font-size: 40px;'>Ortho</span>
      <span style='color:green; font-size: 40px;'>Track</span>
    </a>
    <Ul class='nav navbar-nav navbar-right'>
      <li style='color:#fff'><a href='#'>Home</a></li>
      <li style='color:#fff'><a href='#'>link</a></li>
      <li style='color:#fff'><a href='#'>link</a></li>
      <li style='color:#fff'><a href='#'>link</a></li>
      <li style='color:#fff'><a href='#'>link</a></li>
    </Ul>
  </div>
</div>

<div class='jumbotron'>
    <p>Page Content</p>
</div>

<div id="wrap">
  <div id="main" class="container clear-top">
    <p>Why dosn't this text show up?</p>
  </div>
</div>
<footer class="footer">
  <p>&copy; Copyright 2017 - Coficiency, Inc - All Rights Reserved - OrthoTrack</p>
  <p>1234 CoolApp Blvd, WebDev, LA 54321</p>
</footer>